div.tile-sheet-position-selector {
    background-image: url(./tile-background-3.png);
    background-repeat: repeat;
}

div.sheet-tile-selection-mid-ground {
    background-repeat: no-repeat;
}

@keyframes regionTileSelectionButtonOscillation {
    0% {
        background-color: rgba(64, 128, 64, 1);
    }
    50% {
        background-color: rgba(64, 196, 64, 1);
    }
    100% {
        background-color: rgba(64, 128, 64, 1);
    }
}

button.selected-tile {
    animation: regionTileSelectionButtonOscillation 2s infinite;
}

h2 {
    /* See https://stackoverflow.com/a/16505293 for information on stacking contexts. */
    /* Some solution is needed to allow the tile transformation selections to go transparent. */
    z-index: 999;
}