.chocoWinBoundingBox {
    opacity: .5;
}

.chocoWinBoundingBox:hover {
    border: 20px dashed yellow;
}

.chocoWinBoundingBox .dimensions {
    display: none;
}

@keyframes chocoWinBoundingBoxOscillation {
    0% {
        border-color: #FFFF00;
    }
    50% {
        border-color: #FFFF99;
    }
    100% {
        border-color: #FFFF00;
    }
}

.chocoWinBoundingBox.active {
    border: 20px solid yellow;
    z-index: 999;
    background: #FFFF0088;
    animation: chocoWinBoundingBoxOscillation 2s infinite;
}

.chocoWinBoundingBox.active .dimensions {
    margin: 0px;
    position: absolute;
    top: 50%;
    transform: translate(-0, -50%);
    font-family: monospace;
    font-size: 48px;
    font-weight: bolder;
    color: rgb(166 0 0);
    display: block;
    width: 100%;
    text-align: center;
}